## Function

In [ ]:
What is function?
It is block of code written for some specific purpose/task.

In [ ]:
Functions already provided by python are called inbuilt fuctions. Example: count, find, type, len, etc.

In [ ]:
Type of functions:
    1. Inbuilt or Standard library functions - built-in functions of python already present
    2. User-defined functions - User created own functions based on need/requirements

#### Function declarations

In [ ]:
## Syntax

def function_name(arguments):
    # statements
    #...
    #..
    # function body
    
    return

In [ ]:
def: this keyword declares function

function_name: any name can be given
    
arguments:  any value required by function to process
    
return (optional): output of the function

In [2]:
num1 = 50
type(num1)  - num1 is argument

int

In [3]:
name = "Sachin Shelke"
type(name)  // name - is argument

str

In [4]:
len(name)

13

In [5]:
len()

TypeError: len() takes exactly one argument (0 given)

In [ ]:
## Assignment
1. Temperature converter function - accepts tempt in celcius and return its Farh temperature

In [6]:
## Function example

In [ ]:
### Function without argument

In [7]:
def show_my_name():
    print("My name is Sachin Shelke")

In [8]:
show_my_name()  ## way to call the function

My name is Sachin Shelke

In [9]:
### Function with argument

In [10]:
def addition_function(num1, num2):
    result = num1 + num2
    print("Addition of provided numbers is :" , result)

In [11]:
addition_function(10, 20)  ## reusability

Addition of provided numbers is : 30

In [ ]:
## Write a function that takes String and convert that String into capital

In [12]:
def capital_string(text):
    result = text.upper()
    print(result)

In [13]:
capital_string("Sachin Shelke")

SACHIN SHELKE

In [15]:
def capital_string1(text):
    result = text.capitalize()
    print(result)

In [16]:
capital_string1("text")

Text

In [17]:
## Return in function

In [18]:
def square_number(num):
    result = num * num
    return result

In [19]:
square_number(12)

144

In [20]:
type(capital_string("Hello"))

Hello

NoneType

In [21]:
type(square_number(10))

int

In [22]:
## Function arguments with default values

In [23]:
def multiply_number(num1 = 6 , num2 = 10):
    result = num1 * num2
    return result

In [24]:
# With both argument
multiply_number(4, 6)

24

In [25]:
# With one argument
multiply_number(4)

40

In [26]:
# With no argument
multiply_number()

60

In [27]:
## Assign arguments based on its passed value

In [28]:
def full_name(first_name, second_name):
    print("First name: ", first_name)
    print("Second name: ", second_name)

In [29]:
full_name("Sachin", "Shelke")

First name:  Sachin
Second name:  Shelke

In [30]:
## Arbitary Arguments

In [33]:
def find_sum_of_numbers(*numbers):
    sum = 0
    for num in numbers:
        sum = sum + num
        
    print("Sum of all passed numbers is = " , sum)

In [34]:
find_sum_of_numbers(10,20,30)

Sum of all passed numbers is =  60

In [35]:
find_sum_of_numbers(2,4,6,8,10)

Sum of all passed numbers is =  30

In [36]:
find_sum_of_numbers(2,4,6,8,10, 10, 100, 40, 1, 0)

Sum of all passed numbers is =  181

In [37]:
## Variable scopes in function

In [38]:
name = "Sachin Shelke"

In [39]:
## 3 types of variables

In [ ]:
1. Local variable
2. Global Variable
3. NonLocal Variable

In [ ]:
1. Local Variable - declared inside function and scope : can be used inside the function only

2. Global variable - declared outside of any scope and scope: can be used anywhere

In [ ]:
3. NonLocal variable - nested fucntions - scope is not defined it can be local or global

In [41]:
## nonlocal example
def outside():
    value1 = "local"
    
    def inner():
        nonlocal value1
        
        value1= "not of local scope"
        print("Inner function: " , value1)
    
    inner()
    
    print("Outside scope: " , value1)

outside()

Inner function:  not of local scope
Outside scope:  not of local scope