## Dictionary

In [ ]:
It is an ordered collection of items. It has Key - Value pairs.

In [ ]:
Python - version 3.7 onwards

In [ ]:
Key - Value : Key is unique identifier and is associated with each value
Example: Country and its caital
         Student roll no and Student detail
         bankAcNo and CustomerInfo
        productCode and product_Detials

In [ ]:
Create dictionary:

In [ ]:
#Syntax
dict_name = { "key1" : "value1" , "Key2" : "value2" , "Key3" : "value3"}

In [ ]:
Keys : Values
India - New Delhi
England - London
Italy - Rome
France - Paris
Japan - Tokoyo

In [1]:
country_capital = { "India" : "New Delhi" , "England" : "London" , "Italy" : "Rome" , "France" : "Paris"}

In [2]:
print(country_capital)

{'India': 'New Delhi', 'England': 'London', 'Italy': 'Rome', 'France': 'Paris'}

In [3]:
student_details = { 1 : "Amit Singh" , 2 : "Abhishek Kumar" , 3: "Brijesh Kumar" , 4 : "Chetan Sharma"}

In [4]:
student_details

{1: 'Amit Singh', 2: 'Abhishek Kumar', 3: 'Brijesh Kumar', 4: 'Chetan Sharma'}

In [5]:
type(student_details)

dict

In [6]:
## Adding elements to dictionary

In [7]:
country_capital = { "India" : "New Delhi" , "England" : "London" , "Italy" : "Rome" , "France" : "Paris"}

In [8]:
print(country_capital)

{'India': 'New Delhi', 'England': 'London', 'Italy': 'Rome', 'France': 'Paris'}

In [9]:
country_capital["Japan"] = "Tokyo"  ## Passing key and value

In [10]:
print(country_capital)

{'India': 'New Delhi', 'England': 'London', 'Italy': 'Rome', 'France': 'Paris', 'Japan': 'Tokyo'}

In [11]:
## Change the value in dictionary

In [12]:
student_details = { 1 : "Amit Singh" , 2 : "Abhishek Kumar" , 3: "Brijesh Kumar" , 4 : "Chetan Sharma"}

In [13]:
student_details[3] = "Brijesh Sharma"

In [14]:
student_details

{1: 'Amit Singh', 2: 'Abhishek Kumar', 3: 'Brijesh Sharma', 4: 'Chetan Sharma'}

In [15]:
## Accessing elements frm dictionary

In [16]:
student_details = { 1 : "Amit Singh" , 2 : "Abhishek Kumar" , 3: "Brijesh Kumar" , 4 : "Chetan Sharma"}

In [17]:
student_details[4]

'Chetan Sharma'

In [18]:
country_capital["India"]

'New Delhi'

In [19]:
country_capital["INdia"]  ## case sensitive

KeyError: 'INdia'

In [20]:
student_details[5]

KeyError: 5

In [21]:
## Removing elements from dictionry

In [22]:
student_details = { 1 : "Amit Singh" , 2 : "Abhishek Kumar" , 3: "Brijesh Kumar" , 4 : "Chetan Sharma"}

In [23]:
print(student_details)

{1: 'Amit Singh', 2: 'Abhishek Kumar', 3: 'Brijesh Kumar', 4: 'Chetan Sharma'}

In [24]:
del student_details[3]

In [25]:
print(student_details)

{1: 'Amit Singh', 2: 'Abhishek Kumar', 4: 'Chetan Sharma'}

In [26]:
country_capital

{'India': 'New Delhi',
 'England': 'London',
 'Italy': 'Rome',
 'France': 'Paris',
 'Japan': 'Tokyo'}

In [27]:
del country_capital["Japan"]

In [28]:
country_capital

{'India': 'New Delhi', 'England': 'London', 'Italy': 'Rome', 'France': 'Paris'}

In [29]:
## Delete dictionary

In [30]:
print(student_details)

{1: 'Amit Singh', 2: 'Abhishek Kumar', 4: 'Chetan Sharma'}

In [31]:
del student_details

In [32]:
print(student_details)

NameError: name 'student_details' is not defined

In [33]:
## Check if key is present in dictionary

In [34]:
student_details = { 1 : "Amit Singh" , 2 : "Abhishek Kumar" , 3: "Brijesh Kumar" , 4 : "Chetan Sharma"}

In [ ]:
# syntax - returns true/false
key_to_look_for in dict_name

In [36]:
print(student_details)

{1: 'Amit Singh', 2: 'Abhishek Kumar', 3: 'Brijesh Kumar', 4: 'Chetan Sharma'}

In [37]:
print(4 in student_details)

True

In [38]:
print(5 in student_details)

False

In [39]:
country_capital

{'India': 'New Delhi', 'England': 'London', 'Italy': 'Rome', 'France': 'Paris'}

In [40]:
print("India" in country_capital)

True

In [41]:
print("Japan" in country_capital)

False

In [42]:
## Iterating through Dictionary

In [43]:
student_details = { 1 : "Amit Singh, Science=80, Pune, Cricket" , 2 : "Abhishek Kumar" , 3: "Brijesh Kumar" , 4 : "Chetan Sharma"}

In [44]:
for roll_no in student_details:
    print(student_details[roll_no])

Amit Singh
Abhishek Kumar
Brijesh Kumar
Chetan Sharma

In [47]:
for roll_no in student_details:
    print(roll_no, student_details[roll_no])

1 Amit Singh
2 Abhishek Kumar
3 Brijesh Kumar
4 Chetan Sharma

In [ ]:
## SETS - read

In [48]:
student_details = { 1 : "Amit Singh, Science=80, Pune, Cricket" , 2 : "Abhishek Kumar" , 3: "Brijesh Kumar" , 4 : "Chetan Sharma"}

In [49]:
student_details[1]

'Amit Singh, Science=80, Pune, Cricket'

In [ ]:
Inbuilt functions:
1. all()
2. any()
3. len()
4. sorted()
5. clear()

In [ ]:
## Python Naming conventions

1. variable name - should always start with letter or underscore _   never start with number or symbol other than underscore
allStudents, roll_no, _house_address - acceptable
1allStudents, 7_name, #_rollno, etc - not acceptable

2. variable names can only contain alpha-numeric characters and underscore
roll_no, student_list_1 -> acceptable

3. variable names are case sensitive
name and Name - different variable
roll_no and roll_No - different variable

4. variable name should not be same as keywords


variable = "Hello"
variable_first = "Hello"
_variable_first = "Hello"
variableFirst = "Hello"
variableFirst2 = "Hello"
2variableFirst = "Hello"
variable-First = "Hello"
variable First = "Hello"